In [6]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
objects = [['Jupiter', '-2.7°F', '-234°F', '4.2-6.2 AU', '5.2 AU'], 
           ['Saturn', 'mag', 'temp', 'distearth', 'distsun'],
           ['Venus', 'mag', 'temp', 'distearth', 'distsun'],
           ['Mars', 'mag', 'temp', 'distearth', 'distsun'],
           ['Mercury', 'mag', 'temp', 'distearth', 'distsun'],
           ['Neptune', 'mag', 'temp', 'distearth', 'distsun'],
           ['Uranus', 'mag', 'temp', 'distearth', 'distsun']]
df = pd.DataFrame(objects, columns=["Objects", "Magnitude", 'Surface Temp','Distance from Earth', 'Distance from sun'])
df
#ObjectOfChoice = str(input('What is your chosen object?'))
#for i in range len(objects):
    #Data = pd.Series(objects)

   Objects Magnitude Surface Temp Distance from Earth Distance from sun
0  Jupiter    -2.7°F       -234°F          4.2-6.2 AU            5.2 AU
1   Saturn       mag         temp           distearth           distsun
2    Venus       mag         temp           distearth           distsun
3     Mars       mag         temp           distearth           distsun
4  Mercury       mag         temp           distearth           distsun
5  Neptune       mag         temp           distearth           distsun
6   Uranus       mag         temp           distearth           distsun